<!-- Imagina -->
<section id="imagina" class="parallax-peel-container">
  <div class="scrollable">
    <div class="fixed">
      <div class="step-number">1</div>
      <div class="image"></div>
    </div>
    <div class="grid">
      <div data-sr="reset" class="description">
        Desde un juguete <br>
        hasta tu siguiente <br> 
        obra de arte. 
      </div>
      <div data-sr="reset" class="title">Imagina y Diseña</div>
      <div data-sr="reset" class="subtitle">Las posibilidades son <br>infinitas.</div>
      <div data-sr="reset" class="extra">
        ¿No eres diseñador? No te preocupes, <br> 
        podemos ayudarte a encontrarlo o puedes <br> 
        o puedes ver nuestro catalogo.
      </div>
    </div>
  </div>
</section>
<!-- Envianos -->
<section id="envianos" class="parallax-peel-container">
  <div class="scrollable">
    <div class="fixed">
      <div class="step-number">2</div>
      <div  class="image"></div>
    </div>
    <div class="grid">
      <div data-sr="reset" class="description">
        Escoge las mejores <br>
        opciones de impresión <br> 
        para tu proyecto.
      </div>
      <div data-sr="reset" class="title">Envíanos tu <br>diseño.</div>
      <div data-sr="reset" class="subtitle">Déjanos hacerlo realidad.</div>
      <div data-sr="reset" class="extra">
        Sección opciones.<br>
        (Materiales, calidades, <br>
        acabados, colores, etc.) 
      </div>
    </div>
  </div>
</section>
<!-- Recibe -->
<section id="recibe" class="parallax-peel-container">
  <div class="scrollable">
    <div class="fixed">
      <div class="step-number">3</div>
      <div class="image"></div>
    </div>
        <div class="grid">
      <div data-sr="reset" class="description">
        Recíbelo en tu casa o <br>
        universidad.
      </div>
      <div data-sr="reset" class="title">Recibe tu <br>impresión.</div>
      <div data-sr="reset" class="subtitle">Vamos a donde estés.</div>
      <div data-sr="reset" class="extra">
        Universidades<br> 
        Tec de Monterrey CEM<br>
        Universidad Iberoamericana<br>
        UAM Azcapotzalco<br>
        Tec de Monterrey CSF<br>
        FES Acatlán 
      </div>
    </div>
  </div>
</section>
