<!-- Imagina -->
<section id="imagina" class="parallax-peel-container">
  <div class="scrollable">
    <div class="fixed">
      <div class="step-number">1</div>
      <div class="image"></div>
    </div>
    <div class="grid">
      <div data-sr="reset" class="description">Desde un... <br>Texto Texto <br> Bla bla </div>
      <div data-sr="reset" class="title">Imagina y diseña</div>
      <div data-sr="reset" class="subtitle">Las posibilidades son infinitas</div>
      <div data-sr="reset" class="extra">No eres diseñador <br> Bla bla bla...</div>
    </div>
  </div>
</section>
<!-- Envianos -->
<section id="envianos" class="parallax-peel-container">
  <div class="scrollable">
    <div class="fixed">
      <div class="step-number">2</div>
      <div  class="image"></div>
    </div>
    <div class="grid">
      <div data-sr="reset" class="description">Desde un... <br>Texto Texto <br> Bla bla </div>
      <div data-sr="reset" class="title">Imagina y diseña</div>
      <div data-sr="reset" class="subtitle">Las posibilidades son infinitas</div>
      <div data-sr="reset" class="extra">No eres diseñador <br> Bla bla bla...</div>
    </div>
  </div>
</section>
<!-- Recibe -->
<section id="recibe" class="parallax-peel-container">
  <div class="scrollable">
    <div class="fixed">
      <div class="step-number">3</div>
      <div class="image"></div>
    </div>
        <div class="grid">
      <div data-sr="reset" class="description">Desde un... <br>Texto Texto <br> Bla bla </div>
      <div data-sr="reset" class="title">Imagina y diseña</div>
      <div data-sr="reset" class="subtitle">Las posibilidades son infinitas</div>
      <div data-sr="reset" class="extra">No eres diseñador <br> Bla bla bla...</div>
    </div>
  </div>
</section>
