<!-- Diseñadores, Makers, Artistas, Todos -->
<section id="DMAT">
  <div class="skewed-background"></div>
  <div class="block">
    <div class="title">blabla</div>
    <div class="description">jhksdgkfjhgdsakjfh shdjfjash fkjhsadfjsd</div>
  </div>
  <div class="block">
    <div class="title">blabla</div>
    <div class="description">jhksdgkfjhgdsakjfh shdjfjash fkjhsadfjsd</div>
  </div>
  <div class="block">
    <div class="title">blabla</div>
    <div class="description">jhksdgkfjhgdsakjfh shdjfjash fkjhsadfjsd</div>
  </div>
  <div class="block">
    <div class="title">blabla</div>
    <div class="description">jhksdgkfjhgdsakjfh shdjfjash fkjhsadfjsd</div>
  </div>
</section>
<!-- posibilidades -->
<section id="posibilidades" class="parallax-peel-container">
  <div class="scrollable">
    <div class="fixed">
      <div class="text">
        ksjhalks asdflkajshf fkajsfa <br> shfkahsldkfjh shjdkfha
      </div>
    </div>
  </div>
</section>
<!-- Imagina -->
<section id="tienda" class="parallax-peel-container">
  <div class="scrollable">
    <div class="fixed">
    <div class="text">
        ksjhalks asdflkajshf fkajsfa
      </div>
    </div>
  </div>
</section>
<!-- Imagina -->
<section id="contactanos" class="parallax-peel-container">
  <div class="scrollable">
    <div class="fixed">
      <div class="text">
        akdsjhflksadjhflkasjdhflak
      </div>
    </div>
  </div>
</section>

