<%= content_for :title, "Qb: Sistema administrador" %>

<% content_for :header_content do %>
<h1><strong>Qb:</strong> Sistema administrador</h1>
<% end %>
<div class="c4-grid-collection">
  <%= render '/c4/navlinks' %>
</div>
