
<div class="nested-fields">
<hr class="c4-mini">
<%= full_field(f,:hex, 'Color hexadecimal' ,'F76FF8') %>

<%= link_to_remove_association "Eliminar color", f ,  class: 'c4-button-warning u-full-width icon-delete'  %>

</div>