// Colors
$blue-c: #3859A7;
$skyblue-c: #5685ca;
$aqua-c: #51DBC3;
$green-c: #3CAB67;
$greenmint-c: #59cda6;
$greenneon-c: #7ee29f;
$greenlight-c: #95FF4D;
$darkgreen-c: #498039;
$golden-c: #D6952C;
$tomato-c: #ce715e;
$darkyellow-c: #F1E83E;
$yellow-c: #FEE640;
$gray-c: #393939;

// More Colors
$stateblue-c: #6758B4;
$stateblueboldw-c: #392B51;
$purple-c: #7958B4;
$purpleboldw-c: #392B51;
$red-c: #C1484C;
$redorange-c: #E2AE51;
$greennew-c: #40A17B;
$mint-c: #5bfaad;
$greenboldw-c: #6CF26E;

// Box Colors
$green-box-c: #77E854;
$yellow-box-c: #EFD037;


$transparency:0.13;
$min-section-height:031;

body {
  font-weight: 400;
  font-family: 'Lato', sans-serif;
  color: white;
  background-color: white;
}

@mixin main-button-style($color) {
  text-decoration: none;

  padding: 6px 20px;
  border: solid 1px $color;
  color: $color;

  display: inline-block;

  @include transition-duration(0.3s);
  @include transition-property(all);

}

//SPECIAL MEDIA QUERIES
@mixin height-more-than($h) {

  @media screen and (min-height: $h)
  {
    @content;
  }

}

@mixin peeler-height($mh,$h) {
  &.parallax-peel-container { min-height: $mh; height:$h; }
  .scrollable { min-height: $mh; height:$h; }
  .fixed { min-height: $mh; height:$h; }
}


//=================================
//-*****    Menú
//=================================

.main-nav {
  @include display(flex);
  @include justify-content(center);
  @include align-items(center);

  position:fixed;
  width: 100%;
  height: 55px;
  z-index: 100;
  font-size: 13px;
  background: rgba(0,0,0,0.46);
  background: -moz-linear-gradient(top, rgba(0,0,0,0.46) 0%, rgba(0,0,0,0) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0.46)), color-stop(100%, rgba(0,0,0,0)));
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.46) 0%, rgba(0,0,0,0) 100%);
  background: -o-linear-gradient(top, rgba(0,0,0,0.46) 0%, rgba(0,0,0,0) 100%);
  background: -ms-linear-gradient(top, rgba(0,0,0,0.46) 0%, rgba(0,0,0,0) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0.46) 0%, rgba(0,0,0,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );

  @include tablet
  {
    height: 65px;
    font-size: 16px;
  }
  //background-color: transparentize(white, 0.8);

  @include desktop
  {
    background-color:transparent;
  }

  &.dark-mode
  {
    background: transparent;


    .logo-container .monochrome
    {
      background-image: image-url("logo-dark.png");
    }

    .links
    {
      color: black;
    }

    .button
    {
      color: black;
      border-color: black;
    }

    .menu-button
    {
      background-image: image-url("menu-dark.png");
    }

    .right-wing
    {
      background-color: transparentize(white,0.0);
      @include desktop
      {
        background-color: transparent;
      }
    }

  }

  .menu-button
  {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    background-image: image-url("menu.png");

    @include desktop
    {
      display: none;
    }
  }

  .left-wing
  {
    width: 100%;

    //background-color: red;
  }

  .right-wing
  {
    width: 100%;
    height: auto;
    z-index: -1;
    background-color: transparentize($gray-c,0.0);
    box-shadow: 0px 1px 20px transparentize(black, 0.5);

    position: fixed;
    left: 0px;
    padding-top: 50px;
    top: -100%;
    padding-right: 0px;


    @include transition-duration(0.3s);
    @include transition-property(top);

    &.exploded
    {
      top: 0px;
    }

    @include desktop
    {
      padding-right: 60px;
      text-align: right;

      position: static;
      box-shadow: initial;
      padding-top: 0px;
      background-color: transparent;
    }



  }

  .links
  {

    @include transition-duration(0.3s);
    @include transition-property(all);

    margin-bottom:  0px;
    text-decoration: none;
    color: white;
    display:block;
    text-align: center;
    padding: 15px 0;

    @include desktop
    {
      display:inline;
      margin-left: 10px;
      margin-right: 10px;
    }

  }


  .button
  {
    @include main-button-style(white);
    margin-left: 18px;
    margin-bottom: 0px;
    padding: 5px 10px;


    @include tablet
    {
      margin-left: 30px;
      padding: 6px 20px;
    }

  }

  .logo-container
  {
    margin: 0 25px;
    position: relative;
    height: 30px;
    width: 80px;

    @include desktop
    {
      height: 40px;
    }


    &:hover
    {
      .monochrome { opacity: 0.0; }
      .color { opacity: 1.0; }
    }

    %both-logos
    {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      @include transition-property(opacity);
      @include transition-duration(0.55s);

    }
    .color
    {
      @extend %both-logos;
      background-image: image-url("logo-color.png");
      opacity: 0.0;
    }

    .monochrome
    {
      @extend %both-logos;
      background-image: image-url("logo.png");
      opacity: 1.0;
    }



  }

}


//=================================
//-*****    Buenas Ideas
//=================================

#buenas-ideas
{

  @include peeler-height(inital,100vh);
  overflow: hidden;

  .header
  {
    position: absolute;
    width: 100%;
    top: 130px;
    z-index: 5;
    font-weight: 600;
    font-size: 2em;

    color: $gray-c;
    text-align: center;

    span
    {
      color: $skyblue-c;
    }

    @include desktop
    {
      right: 20%;
      top: 180px;
      text-align: right;
      font-size:3em;


    }

    @include desktop-hd
    {
      font-size:4em;
    }

  }

  .scrollable
  {
    width: 100%;
  }
  .shape
  {
    width: 100%;
    height: 100%;
    z-index: -10;

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    .shadow
    {
      fill: white;
      fill-opacity: 0.3;
    }
    .polygon
    {
      fill: white;
    }
  }

  .banner
  {
    position: absolute;
    //background-color: $skyblue-c;
    font-size: 1.2em;
    line-height: 1.4em;
    color: $skyblue-c;
    bottom: 14%;
    left: 11%;
    z-index: 10;

  }


}



//=================================
//-*****    Impresión 3d
//=================================

$min-desktop-height: 600px;
.parallax-peel-container
{
  position: relative;
  width: 100%;
  overflow-x: hidden;


  .shadow
  {
    position:absolute;
    width: 100%;
    top: -20px;
    height: 20px;
    box-shadow: 0px 1px 20px transparentize(black, 0.5);

  }

  @include desktop
  {
    height: 100vh;
    min-height: $min-desktop-height;
  }

}

.scrollable
{

  // @include height-more-than(700px)
  // {
  //   min-height: initial;
  //   max-height: 700px;
  // }
  //

  position: relative;
  width: 80%;
  margin: 0 auto;
  height: 100%;
  min-height: 100vh;
  font-size: 14px;

  @include phablet
  {
    font-size: 15px;
  }

  @include tablet
  {
    font-size: 16px;
  }

  @include desktop
  {
    font-size: 16px;
    position: absolute;
    max-height: initial;
    height: 100vh;
    width: 100%;
    min-height: $min-desktop-height;
    clip: rect(0, auto, auto, 0);
  }

  @include desktop-hd
  {
    font-size: 16px;
  }

  @include big-af
  {
    font-size: 18px;
  }



}

.fixed
{
  position: absolute;
  height: 100%;
  width: 100%;

  @include desktop
  {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    min-height: $min-desktop-height;


    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

.grid
{
  position:relative;
  width: 100%;
  text-shadow: 0px 1px 6px transparentize(black, 0.6);
  padding: 15vh 0;

  @include desktop
  {
    width: 80%;
    top: 15%;
    margin: 0 auto;
    padding: 0;
  }
}



.universidades
{
  text-align: center;
  text-shadow: none;

  padding: 20px;
  font-size: 0.8em;
  color: $gray-c;
  background-color: transparentize($yellow-box-c, 0.25);

  @include desktop
  {
    display: inline-block;
  }

  span
  {
    font-weight: 600;
    font-size: 1.2em;

    &:after
    {
      content: '';
      display: block;
      position: relative;
      height: 1px;
      margin: 17px 0;
      left: 50%;
      width: 160px;
      margin-left: -80px;
      background-color: black;
      @include transition-duration(0.9s);
      @include transition-property(all);
      //@include transition-delay(0.2s);
    }
  }
}

@mixin section-configuration($align,$color,$highlight,$image) {

  $opposite: if($align == right, left, right);

  background-color: $color;
  .image
  {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    background-image: image-url($image);
    background-color: $color;

    left: if($align == right, -15%, 15% );

    @include phablet
    {
      left: 0px;
      right: 0px;

    }

    @include desktop
    {
      height: 83%;
      width: 60%;
      top: 53%;
      left: 50%;
      opacity: 1.0;
      box-shadow: 0px 1px 20px transparentize(black, 0.5);
      @include transform(translate(-50%, -50%));
    }

  }

  .title {
    text-align: $align;
    margin-top:55px;
    font-size: 2.7em;
  }

  .description {
    text-align: $opposite;
    font-size: 1.2em;
    a {
      font-size: 0.9em;
      @include main-button-style($darkyellow-c);
      margin-top: 20px;
    }
  }

  .step-number {

    position:absolute;
    z-index: 1;
    $number-height: 80px;
    $number-width: 80px;
    height: $number-height;
    width: $number-width;
    top: 100px;
    font-size: 5em;
    font-weight: 600;
    line-height: $number-height;
    color: white;

    color: $highlight;
    text-align: $align;

    @if ($align == right) {
      left: 80%;
      margin-left: -($number-width/2 - 12);
    }
    @else
    {
      left: 20%;
      margin-left: -($number-width/2 + 12);
    }

    @include desktop
    {
      top: 15%;
      z-index: 0;
    }

  }
  .subtitle {
    color: $highlight;
    text-align: $align;
    font-size: 1.5em;
  }
  .details {

    position: relative;
    font-size: 1.1em;
    margin-bottom: 30px;
    height: auto;
    width: 100%;
    text-align: $opposite;

    @include height-more-than(601px) {

      position: absolute;
      bottom: 5%;
      margin-left:10%;
      width: 80%;

      @include phablet
      {
        //Aligned to bottom
        position: absolute;
        bottom: 5%;
        margin-left:10%;
        width: 80%;
      }
    }

    @include desktop
    {
      //Aligned to bottom
      position: absolute;
      bottom: 5%;
      margin-left:10%;
      width: 80%;
    }

  }

  .color_word { color: $highlight; }

}

//Para casos específicos de sección
#imagina {
  @include section-configuration(left,$blue-c,$aqua-c,"imagina.png");
}
#envianos {
  @include section-configuration(right,$green-c,$greenlight-c,"envianos.png");

  .materiales
  {
    font-size: 0.95em;
    box-shadow: 0px 1px 6px transparentize(black, 0.6);

    @include desktop
    {
      font-size: 0.8em;
      display: inline-block;
    }
  }

  .row
  {
    height: auto;
    width: 100%;
    background-color: $greenlight-c;
    color: $gray-c;
    font-weight: 600;
    line-height: 44px;

    &:before
    {
      display: inline-block;
      content: "";
      border-style: solid;
      border-width: 5px 0 5px 5px;
      border-color: transparent transparent transparent $greennew-c;
      margin-right: 5px;
      margin-left: 17px;
    }

    &.exploded {
      .colors { height: 20px; }
      &:before
      {
        margin-bottom: 3px;
        margin-right: 0px;
        border-width: 5px 5px 0 5px;
        border-color: $greennew-c transparent $greennew-c transparent;
      }
    }


    &:not(.row:last-child)
    {
      border-bottom: 1px solid darken($greenlight-c,40%);
    }

    &:hover
    {
      background-color: lighten($greenlight-c, 10%);
    }

    span
    {
      font-weight: 500;
      margin-left: 6px;
      margin-right:20px;
      font-size: 0.9em;
    }

    .colors
    {
      height: 0px;
      width: 100%;
      @include display(flex);
      @include justify-content(center);
      @include align-items(center);
      @include transition-duration(0.3s);
      @include transition-property(height);

      div {
        height: 100%;
        @include flex(1);
      }
    }

  }
}

#recibe
{
  @include section-configuration(left,$golden-c,$darkyellow-c,"recibe.png");
}


//=================================
//-*****    Para ti
//=================================

@mixin block-alignment($align,$pixels) {
  .title { text-align:$align; }
  .description { text-align:$align; }
  &>.title:before { background-position: $align; }
  #{if($pixels > 0, right, left)}: abs($pixels);
  #{if($pixels <= 0, right, left)}: initial;
}

#DMAT
{
  position:relative;
  width: 100%;
  z-index: 10;
  height: auto;
  background-color:$purple-c;

  padding-bottom: 40px;

  @include desktop
  {
    padding-bottom: 0;
    display:block;
    height: 0px;
  }

  &:before
  {
    display: none;

    @include desktop
    {
      display:block;
    }

    content: "";
    position:absolute;
    width: 100%;
    height: calc(1666px - 57.93vw);
    top: 0px;
    box-shadow: 0px 1px 20px transparentize(black, 0.5);

    @include transform(skewY(-29deg));
    @include transform-origin(left);
    background-color: transparentize($purple-c, 0.0);


    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

  }

  .block
  {
    display: block;
    //background-color: red;
    padding: 30px 35px;
    font-size: 14px;
    @include block-alignment(center,0px);

    @include phablet {
      padding: 20px 65px;

    }

    @include tablet {
      font-size: 17px;
      padding: 50px 105px;
    }

    @include desktop {
      padding: 0px;
      font-size: 19px;
    }



    .title
    {
      margin: 0px;
      font-size: 2em;
      color: $purpleboldw-c;
    }

    .description
    {
      font-size: 1.2em;
      width: 100%;
    }

    &>.title:before
    {
      content: '';
      display: block;
      //background: white;
      position: relative;
      height: 120px;
      width: 100%;
      margin: 0 auto;
      background-repeat: no-repeat;
      background-size: contain;

      @include phablet
      {
        height: 80px;
      }
    }

    $list: "disenador.png" "maker.png" "artista.png" "todos.png";
    @for $i from 1 through length($list)
    {

      &:nth-child(#{$i})
      {

        &>.title:before
        {
          background-image: image-url('#{nth($list,$i)}');
        }

        //CALCULATED ATTRIBUTES
        @include desktop
        {
          $offset: if($i > 2, 100px, 80px);
          top: calc( #{$i * 250px + $offset} - 57.93vw ) ;
          position: absolute;
          width: 300px;
        }


        // SPECIFIC BY INDEX
        @if $i == 1 {

          @include desktop
          {
            @include block-alignment(right,80px);
          }

          @include desktop-hd
          {
            @include block-alignment(right,130px);
          }

          @include big-af
          {
            @include block-alignment(center,130px);
          }

        } @else if $i == 2 {

          @include desktop
          {
            @include block-alignment(left,-80px);
          }

          @include desktop-hd
          {
            @include block-alignment(left,580px);
          }

          @include big-af
          {
            @include block-alignment(center,580px);
          }

        } @else if $i == 3 {

          @include desktop
          {
            @include block-alignment(right,80px);
          }

          @include desktop-hd
          {
            @include block-alignment(right,-580px);
          }

          @include big-af
          {
            @include block-alignment(center,-580px);
          }

        } @else {

          @include desktop
          {
            @include block-alignment(left,-80px);
          }

          @include desktop-hd
          {
            @include block-alignment(left,-130px);
          }

          @include big-af
          {
            @include block-alignment(center,-130px);
          }

        }
      }


    } //FOR
  }//BLOCK
}

#posibilidades
{
  background-color: $purple-c;
  text-align: center;

  @include peeler-height(initial,auto);

  .fixed {
    position: relative;
  }

  @include desktop {

    background-color: $stateblue-c;

    @include peeler-height(initial,600px);
    .fixed {
      position: fixed;

    }
  }

  @include big-af {
    @include peeler-height(initial,100vh);
  }

  .text
  {
    padding: 40px 0px;
    font-size: 30px;

    &:after
    {
      content: '';
      display: block;
      height: 1px;
      width: 100%;
      margin: 0 auto;
      margin-top: 45px;
      background-color: $purpleboldw-c;
      //@include transition-delay(0.2s);
    }

    @include desktop {

      &:after { display: none; }
      display: inline-block;
      position:absolute;
      font-size: 45px;
      padding:0px;
      top:20%;
      left: 10%;
      width: 400px;
      text-align: left;
    }
  }

  span { color: $stateblueboldw-c; }
}

#tienda
{
  background-color: $red-c;
  #anchortienda
  {
    @include desktop
    {
      position: absolute;
      bottom: 100vh
    }

  }

  @include peeler-height(initial,auto);

  .fixed {
    position: relative;
  }

  @include desktop {
    @include peeler-height(initial,calc(1666px - 57.93vw + 50vh));

    .fixed {
      position: fixed;

    }
  }


  .button
  {
    @include main-button-style($redorange-c);
    font-size: 0.7em;
    margin-top: 10px;
  }

  .text
  {
    display: inline-block;
    position:relative;
    padding: 40px 0px;
    text-align: center;
    width: 100%;
    //background-color:purple;

    font-size: 1.5em;

    @include desktop
    {
      width: initial;
      padding: 0;
      text-align: right;
      right: 10%;
      top:200px;
      float:right;

    }

    span
    {
      font-size: 1.8em;
      color: $redorange-c;
      //font-size: 3em;
    }
  }

  .announcements
  {
    overflow: hidden;
    width: 100%;
    bottom: 0px;
    pointer-events: none;
    font-size: 1.3em;

    background-color: $tomato-c;
    box-shadow: 0px 1px 20px transparentize(black, 0.5);
    margin-bottom: 40px;
    @include desktop
    {
      position: absolute;
      margin-bottom: 0px;

    }

    .image
    {

      height: 250px;
      width: auto;

      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-color: transparent;
      background-image: image-url("imagina.png");

      @include desktop
      {
        height:100%;
        width: 40%;
        right: 0px;
        position: absolute;
      }

    }

    .ann
    {
      width: 60%;
      height: 100%;
      left: 0px;

      padding: 35px;

    }

    .title
    {
      font-size: 2em;
      color:$redorange-c ;
    }

    .date
    {
      font-size: 0.7em;
      color: transparentize($redorange-c, 0.1);

      //margin-left: 10px;
      &:after
      {
        content: '';
        display: block;
        position: relative;
        height: 1px;
        margin: 6px 0;
        left: 0;
        width: 100%;
        background-color: transparentize($redorange-c, 0.4);
          //@include transition-delay(0.2s);
        }
      }

      .long-text
      {
        font-size: 0.8em;
      }


    }

  }

  #contactanos
  {
    background-color: $greennew-c;

    @include peeler-height(initial,auto);
    .fixed {
      position: relative;
    }

    @include desktop {
      @include peeler-height(500px,100vh);
      .fixed {
        position: fixed;
      }
      .scrollable
      {
        overflow: hidden;
      }
    }



    .text
    {
      display: inline-block;
      width: 100%;
      text-align: center;
      padding: 40px 0px;

    //background-color: orange;
      font-size: 1.5em;
      span
      {
        font-size: 1.8em;
        color: $greenboldw-c;
        //font-size: 3em;
      }

      @include desktop
      {
        padding: 0px;
        text-align: left;
          position:relative;
        top:13%;
        left: 10%;
        width: 400px;
      }
  }

  .contact-info
  {
    overflow: hidden;
    width: 100%;
    bottom: 0px;
    box-shadow: 0px 1px 20px transparentize(black, 0.5);
    padding: 0px;
    background-color: $greenmint-c;
      text-align: center;


    @include desktop
    {
      text-align: left;
      position: absolute;
      padding-bottom: 40px;
      @include transform(skewY(6deg));
      @include transform-origin(bottom left);

    }


    .c4-contact-data
    {
      bottom: 0px;
      padding: 20px 0;

      @include desktop
      {
          padding: 80px 40px;
         @include transform(skewY(-6deg));

      }

      @include desktop-hd
      {
        padding: 80px 40px;
      }
    }
    *
    {
      margin-bottom: 10px;
    }

    .data-title
    {
      color: $mint-c;
      padding: 0px;
      @include desktop
      {
        padding-left: 25px;
      }
    }

    span
    {
      color: white;
      margin-left: 10px;

    }
    a {
      color: white;
      margin-left: 0px;
      @include desktop
      {
        margin-left: 10px;
      }

    }


  }

  .contact-form
  {
    overflow: hidden;
    height: auto;
      background-color: $greenneon-c;
          box-shadow: 0px 1px 20px transparentize(black, 0.5);

    margin: 20px 0;
    padding: 20px 0px;
    @include desktop
    {
      background-color: transparent;
          box-shadow: initial;
      margin: 0px;
      padding: 0px;
      position: absolute;
      height: 100%;
      width: 50%;
      bottom: 0px;
      right: 0px;
    }
    .error-message
    {
      color: red;
      background-color: transparent;
      border: none;

    }

    .shape {
      display: none;
      position: absolute;
      background-color: $greenneon-c;
      left: 20px;
      width: 100%;
      height: 100%;
      box-shadow: 0px 1px 20px transparentize(black, 0.5);
      @include transform(skewX(-10deg));
      @include transform-origin(bottom left);

      @include desktop
      {
        display:block;
      }
    }

    .square
    {

      color: $gray-c;
      text-align: center;
      @include desktop
      {
        position:absolute;
        width: 60%;
        right: 40px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
      }

      //background-color: red;

    }

    .error-message {
      text-align: center;
      color: $tomato-c;
  //background-color: transparentize($greennew-c, 0.5);
  //border:solid 1px $greenlight-c;
  border-top: none;
  padding: 2px;
  margin-top: -14px;
  margin-bottom:10px;
}



.titulo
{
  font-size: 1.5em;
}

.campo
{
  @include appearance(none);
  display: block;
  border-radius: 5px;
  width: 80%;
  margin: 17px auto;
  padding: 12px 12px;
  background-color: transparentize(white, 0.7);
  border: 1px solid transparentize(white, 1);
  color: $gray-c;
}

.boton
{
  @include main-button-style(darken($greennew-c,12%));
  display: block;
  font-size: 20px;
  background-color: transparent;
  width: 80%;
  margin: 5px auto;
}
}



}

