// Colors
$blue-c: #3859A7;
$aqua-c: #51DBC3;
$green-c: #3CAB67;
$greenmint-c: #59cda6;
$greenneon-c: #7ee29f;
$greenlight-c: #95FF4D;
$darkgreen-c: #498039;
$golden-c: #D6952C;
$tomato-c: #ce715e;
$darkyellow-c: #F1E83E;
$yellow-c: #FEE640;
$gray-c: #393939;

// More Colors
$stateblue-c: #6758B4;
$stateblueboldw-c: #392B51;
$purple-c: #7958B4;
$purpleboldw-c: #392B51;
$red-c: #C1484C;
$redorange-c: #E2AE51;
$greennew-c: #40A17B;
$greenboldw-c: #6CF26E;


// Box Colors
$green-box-c: #77E854;
$yellow-box-c: #EFD037;

$transparency:0.13;
$min-section-height:031;


body {
  font-weight: 400;
  font-family: 'Lato', sans-serif;
  color: white;
  background-color: white;
}

@mixin main-button-style($color) {
  text-decoration: none;

  padding: 6px 20px;
  border: solid 1px $color;
  color:  $color;

  display: inline-block;

  @include transition-duration(0.3s);
  @include transition-property(all);

}

//SPECIAL MEDIA QUERIES
@mixin height-more-than($h) {
  @media screen and (min-height: $h)
  {
    @content;
  }
}

//=================================
//-*****    Menú
//=================================

nav.main-nav
{
  @include display(flex);
  @include justify-content(center);
  @include align-items(center);

  position:fixed;
  width: 100%;
  height: 44px;
  z-index: 100;
  //background-color: transparentize(white, 0.8);

  @include desktop
  {
    height: 65px;
    background-color:transparent;
  }

  &.dark-mode
  {
    .logo-container .monochrome
    {
      background-image: image-url("logo-dark.png");
    }
    a
    {
      color: black;
    }
  }

  .left-wing
  {
    width: 100%;
    a {
      float:right;
    }
    //background-color: red;
  }

  .right-wing
  {
    width: 100%;
  }

  a
  {
    margin: 0 10px;
    //background-color: blue;
    text-decoration: none;
    color: white;
  }


  .button
  {
    @include main-button-style(white);
  }

  .logo-container
  {
    margin: 0 25px;
    position: relative;
    height: 30px;
    width: 80px;

    @include desktop
    {
      height: 40px;
    }


    &:hover
    {
      .monochrome { opacity: 0.0; }
      .color { opacity: 1.0; }
    }

    %both-logos
    {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      @include transition-property(opacity);
      @include transition-duration(0.55s);

    }
    .color
    {
      @extend %both-logos;
      background-image: image-url("logo-color.png");
      opacity: 0.0;
    }

    .monochrome
    {
      @extend %both-logos;
      background-image: image-url("logo.png");
      opacity: 1.0;
    }



  }

}

//=================================
//-*****    Impresión 3d
//=================================

$number-width: 80px;


@mixin section-configuration($align,$color,$highlight,$image) {

  $opposite: if($align == right, left, right );

  background-color: $color;
  .image
  {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 700px;

    background-image: image-url($image);
    background-color: $color;

    left: if($align == right, -50%, 50% );

    @include phablet
    {
      left: 0px;
      right: 0px;
      background-size: 600px;
    }

    @include desktop
    {
      background-size: cover;
      height: 83%;
      width: 60%;
      top: 53%;
      left: 50%;
      opacity: 1.0;
      box-shadow: 0px 1px 20px transparentize(black, 0.5);
      @include transform(translate(-50%, -50%));
    }

   }
  .title { text-align: $align; }
  .description { text-align: $opposite; }
  .step-number {

    color: $highlight;
    text-align: $align;

    @if ($align == right) {
      left: 80%;
      margin-left: -($number-width/2 - 12);
    }
    @else
    {
      left: 20%;
      margin-left: -($number-width/2 + 12);
    }

   }
  .subtitle { color: $highlight; text-align: $align; }
  .details {

    position: relative;
    font-size: 1.1em;
    margin-bottom: 30px;

    height: auto;
    width: 100%;

    text-align: $opposite;

    @include height-more-than(481px) {

      position: absolute;
      bottom: 5%;
      overflow: hidden;
      border-radius: 4px;
      margin-left:10%;
      width: 80%;
      @include phablet
      {
        //Aligned to bottom
        position: absolute;
        bottom: 5%;
        overflow: hidden;
        border-radius: 4px;
        margin-left:10%;
        width: 80%;
      }
    }

    @include desktop
    {
      //Aligned to bottom
      position: absolute;
      bottom: 5%;
      overflow: hidden;
      border-radius: 4px;
      margin-left:10%;
      width: 80%;
    }



  }
  .color_word { color: $highlight; }

}

//Para casos específicos de sección
#imagina {
  @include section-configuration(left,$blue-c,$aqua-c,"imagina.png");
}
#envianos {
  @include section-configuration(right,$green-c,$greenlight-c,"envianos.png");

  .row
  {
    height: auto;
    width: 100%;
    background-color: $greenlight-c;
    color: $gray-c;
    line-height: 50px;
    //padding-left:20px;
    font-size: 1.2em;
    font-weight: 600;

    &:before
    {
      display: inline-block;
      margin-left: 17px;
      margin-bottom: 3px;
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 5px 0 5px;
      border-color: $greennew-c transparent $greennew-c transparent;

    }

    &:not(.row:last-child)
    {
      border-bottom: 1px solid darken($greenlight-c,40%);
    }

    &:hover
    {
      background-color: lighten($greenlight-c, 10%);
    }

    span
    {
      font-weight: 500;
      margin-left: 6px;
      font-size: 0.8em;
    }

    .colors
    {
      height: 0px;
      width: 100%;
      @include display(flex);
      @include justify-content(center);
      @include align-items(center);

      @include transition-duration(0.3s);
      @include transition-property(height);

      &.exploded {
        height: 20px;
      }

      div {
        height: 100%;
        @include flex(1);

      }
    }
  }
}
#recibe
{
  @include section-configuration(left,$golden-c,$darkyellow-c,"recibe.png");
}




$min-desktop-height: 600px;
.parallax-peel-container
{
  position: relative;
  width: 100%;
  overflow-x: hidden;

  @include desktop
  {
    height: 100vh;
    min-height: $min-desktop-height;
  }

}

.scrollable
{
  position: relative;
  width: 80%;
  margin: 0 auto;
  height: 100%;
  min-height: 100vh;

  // @include height-more-than(700px)
  // {
  //   min-height: initial;
  //   max-height: 700px;
  // }


  @include desktop
  {
    position: absolute;
    max-height: initial;
    height: 100vh;
    width: 100%;
    min-height: $min-desktop-height;
    clip: rect(0, auto, auto, 0);
  }

}

  .fixed
  {
    position: absolute;
    height: 100%;
    width: 100%;

    @include desktop
    {
      position: fixed;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      min-height: $min-desktop-height;


      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
    }
  }



.step-number
{
  position:absolute;
  z-index: 1;
  $number-height: 80px;
  height: $number-height;
  width: $number-width;
  top: 100px;



  text-align: center;
  font-size: 5em;
  font-weight: 600;
  line-height: $number-height;

  //background-color: black;
  color: white;

  @include desktop
  {
    top: 15%;
    z-index: 0;
  }
}

.grid
{
  position:relative;
  width: 100%;
  text-shadow: 0px 1px 6px transparentize(black, 0.6);
  padding: 15vh 0;
  font-size: 13px;

  @include desktop
  {
    width: 80%;
    top: 15%;
    margin: 0 auto;
    padding: 0;
  }
}

.description
{
  text-align: right;
  font-size: 1.2em;
  a {
    font-size: 0.9em;
    @include main-button-style($darkyellow-c);
    margin-top: 20px;
  }
  //background-color:skyblue;
}

.title
{
  margin-top:55px;
  font-size: 2.7em;
  //background-color:aqua;
}

.subtitle
{
  font-size: 1.5em;
}



.universidades
{
  text-align: center;
  text-shadow: none;

  padding: 30px;
  font-size: 0.8em;
  color: $gray-c;
  background-color: transparentize($yellow-box-c, 0.25);

  @include desktop
  {
    display: inline-block;
  }

  span
  {
    font-weight: 600;

    &:after
    {
      content: '';
      display: block;
      position: relative;
      height: 1px;
      margin: 17px 0;
      left: 50%;
      width: 160px;
      margin-left: -80px;
      background-color: black;
      @include transition-duration(0.9s);
      @include transition-property(all);
      //@include transition-delay(0.2s);
    }
  }
}


//=================================
//-*****    Para ti
//=================================

%ra-block
{
  .title { text-align:right; }
  .description { text-align:right; }
  &>.title:before { background-position: right; }
}

#DMAT
{
  position:relative;
  width: 100%;
  //min-height: 950px;
  z-index: 10;
  height: auto;
  background-color:$purple-c;
  background: tomato;

  @include desktop
  {
    display:block;
    height: 0px;

  }

  &:before
  {
    display: none;

    @include desktop
    {
      display:block;
    }

    content: "";
    position:absolute;
    width: 100%;
    height: calc(1646px - 57.93vw);
    top: 0px;
    box-shadow: 0px 1px 20px transparentize(black, 0.5);

    @include transform(skewY(-29deg));
    @include transform-origin(left);
    background-color: transparentize($purple-c, 0.0);


    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

  }

  .block
  {
    //position:relative;
    background-color:red;
    display: block;

    .title
    {
      margin: 0px;
      font-size: 2.4em;
      color: $purpleboldw-c;
      text-align: left;
    }

    .description
    {
      font-size: 1.4em;
      width: 100%;
      text-align: left;
    }

    &>.title:before
    {
      content: '';
      display: block;
      //background: white;
      position: relative;
      height: 120px;
      width: 100%;
      margin: 0 auto;
      background-repeat: no-repeat;
      background-position: left;
      background-size: contain;
    }

    $list: "disenador.png" "maker.png" "artista.png" "todos.png";
    @for $i from 1 through length($list)
    {

      &:nth-child(#{$i})
      {

        //CALCULATED ATTRIBUTES
        @include desktop
        {
          top: calc( #{$i * 250px + 80px} - 57.93vw ) ;
          position: absolute;
          width: 300px + (40px * $i);
        }

        &>.title:before
        {
          background-image: image-url('#{nth($list,$i)}');
        }


        // SPECIFIC BY INDEX
        @if $i == 1 {
          @extend %ra-block;
          right: 80px;

        } @else if $i == 2 {

          right: 430px;
          @include big-af
          {
            right: 530px;
          }

        } @else if $i == 3 {
          @extend %ra-block;
          left: 480px;
          @include big-af
          {
            left: 550px;
          }

        } @else {

          left: 50px;
          @include big-af
          {
            left: 60px;
          }

        }


      }
    } //FOR


  }
}

#posibilidades
{
  background-color: $stateblue-c;

  @include desktop
  {
    height: 100vh;
  }

  .text
  {
    display: inline-block;
    position:relative;
    top:20%;
    left: 10%;
    //background-color: cyan;
    text-align: right;
    font-size: 3em;
  }
  span { color: $stateblueboldw-c; }
}

#tienda
{
  background-color: $red-c;
  min-height: 1400px;
  .button
  {
    @include main-button-style($redorange-c);
    font-size: 0.7em;
    margin-top: 10px;
  }
  .text
  {
    display: inline-block;
    position:relative;
    top:25%;
    float:right;
    right: 10%;
    text-align: right;
    //background-color:purple;
    font-size: 1.5em;
    span
    {
      font-size: 1.8em;
      color: $redorange-c;
      //font-size: 3em;
    }
  }

  .announcements
  {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 500px;
    bottom: 0px;
    pointer-events: none;

    .shape {
      position: absolute;
    background-color: $tomato-c;
    width: 100%;
    height: 500px;
    box-shadow: 0px 1px 20px transparentize(black, 0.5);
    @include transform(skewY(20deg));
    @include transform-origin(top left);
    }

    .announcement
    {
      display: inline-block;
      position:absolute;
      z-index: 30;
      //background-color:red;
      bottom: 100px;
      left: 10%;
      max-width: 80%;
      font-size: 1.3em;
    }

    .title
    {
      font-size: 2em;
      color:$redorange-c ;
    }

    .date
    {
      font-size: 0.7em;
      color: transparentize($redorange-c, 0.1);

      //margin-left: 10px;
      &:after
        {
          content: '';
          display: block;
          position: relative;
          height: 1px;
          margin: 6px 0;
          left: 0;
          width: 100%;
          background-color: transparentize($redorange-c, 0.4);
          //@include transition-delay(0.2s);
        }
    }


  }

}

#contactanos
{
  background-color: $greennew-c;

  .shadow
  {
    position:absolute;
    width: 100%;
    top: -20px;
    height: 20px;
    background-color: red;
    box-shadow: 0px 1px 20px transparentize(black, 0.5);

  }
  .text
  {
    display: inline-block;
    position:relative;
    top:13%;
    left: 10%;
    text-align: left;
    //background-color: orange;
    font-size: 1.5em;
    span
    {
      font-size: 1.8em;
      color: $greenboldw-c;
      //font-size: 3em;
    }
  }

  .contact-info
  {
        position: absolute;
    overflow: hidden;
    width: 100%;
    height: 500px;
    bottom: 0px;

    .shape {
      position: absolute;
      top:30px;
    background-color: $greenmint-c;
    width: 100%;
    height: 500px;
    box-shadow: 0px 1px 20px transparentize(black, 0.5);
    @include transform(skewY(10deg));
    @include transform-origin(top left);
    }

    .square
    {
      position:absolute;
      width: 45%;
      height: 60%;
      bottom: 40px;
      left: 40px;
      //background-color: red;
    }

    .field
    {
      height: 100%;
      width: 100%;
      background-image: image-url("cont.png");
      background-position: center;
      background-size: 90% auto;
      background-repeat: no-repeat;
    }

  }

  .contact-form
  {
    position: absolute;
    overflow: hidden;
    width: 600px;
    //background-color:blue;
    height: 100%;
    bottom: 0px;
    right: 0px;

    .shape {
      position: absolute;
    background-color: $greenneon-c;
    left: 20px;
    width: 100%;
    height: 100%;
    box-shadow: 0px 1px 20px transparentize(black, 0.5);
    @include transform(skewX(-10deg));
    @include transform-origin(bottom left);
    }

    .square
    {
      position:absolute;
      width: 60%;
      right: 40px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
        color: $gray-c;
      text-align: center;

      //background-color: red;

    }

    .error-message {
  text-align: center;
  color: $tomato-c;
  //background-color: transparentize($greennew-c, 0.5);
  //border:solid 1px $greenlight-c;
  border-top: none;
  padding: 2px;
  margin-top: -14px;
  margin-bottom:10px;
}



    .titulo
    {
      font-size: 1.5em;
    }

    .campo
    {
      @include appearance(none);
      display: block;
      border-radius: 5px;
      width: 80%;
      margin: 17px auto;
      padding: 12px 12px;
      background-color: transparentize(white, 0.7);
      border: 1px solid transparentize(white, 1);
      color: $gray-c;
      &.area
      {
        height: 280px;
      }
    }

    .boton
    {
      @include main-button-style(darken($greennew-c,12%));
      display: block;
      font-size: 20px;
      background-color: transparent;
      width: 80%;
      margin: 5px auto;
    }
  }



}

