@import "normalize.css/normalize";
@import "bourbon/app/assets/stylesheets/bourbon";
@import "neat/app/assets/stylesheets/neat";

// Colors
$blue-c: #3859A7;
$aqua-c: #51DBC3;
$green-c: #3CAB67;
$greenlight-c: #95FF4D;
$darkgreen-c: #498039;
$golden-c: #D6952C;
$darkyellow-c: #F1E83E;
$yellow-c: #FEE640;
$gray-c: #393939;

// Box Colors
$green-box-c: #77E854;
$yellow-box-c: #EFD037;

$transparency:0.13;


body {
  font-weight: 400;
  font-family: 'Lato', sans-serif;
  color: white;
  background-color: black;
}

@mixin main-button-style($color) {
  text-decoration: none;

  padding: 6px 20px;
  border: solid 2px $color;
  color:  $color;

  display: inline-block;

  @include transition-duration(0.3s);
  @include transition-property(all);

}


//=================================
//-*****    Menú
//=================================


nav.main-nav
{
  @include display(flex);
  @include justify-content(center);
  @include align-items(center);

  position:fixed;
  background-color:transparentize(white, 0.8);
  width: 100%;
  height: 65px;
  z-index: 100;

  a
  {
    margin: 0 20px;
    //background-color: blue;
    text-decoration: none;
    color: white;
  }

  .logo
  {
    //background-color:orange;
    background-image: image-url("logo.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    @include transition-property(transform);
    @include transition-duration(0.15s);
    @include transition-timing-function(ease-in);

    &:hover
    {
      @include transform(rotate(60deg));
    }
  }
}

//=================================
//-*****    Impresión 3d
//=================================

section
{
  $number-width: 80px;
  
  //Para casos específicos de sección
  &#imagina
  {
    .fixed { background-color: $blue-c; }
    .image { 
      background-image: image-url("imagina.png");
      background-color: $blue-c;
     }
    .step-number { color: $aqua-c; }
    .subtitle { font-size: 2.5em;
                color: $aqua-c; }
    .description { font-size: 1.4em; }
    .color_word { color: $aqua-c; }
  }

  &#envianos
  {
    .fixed { background-color: $green-c; }
    .image { background-image: image-url("envianos.png"); }
    .step-number {
      color: $greenlight-c;
      left: 80%;
      top: 20%;
      margin-left: -($number-width/2 - 12);
    }
    .title { text-align: right; }
    .description { //text-align: left;
                    text-align: left;
                    
                    font-size: 1.3em; }
    .subtitle { text-align: right;
                font-size: 2.0em;
                color: $greenlight-c;
              }
    .extra { float: left;
              color: $darkgreen-c; 
            }
    .boxcolor{ 
      display: inline-block;
            padding: 40px;
              background-color: transparentize($green-box-c , 0.25); }
    .color_word { color: $greenlight-c; }
  }

  &#recibe
  {
    .fixed { background-color: $golden-c; }
    .image { background-image: image-url("recibe.png"); }
    .step-number { color: $darkyellow-c; }
    .subtitle { font-size: 2.5em;
                color: $darkyellow-c; }
    .description 
    { 
      font-size: 1.4em; 

      a {
        font-size: 0.8em;
        @include main-button-style($darkyellow-c);
        margin-top: 20px;
      }
    }
    .extra { //text-align: right;
            float: right;
            color: gray-c; }
    .boxcolor{ 
      display: inline-block;
            padding: 30px;
      font-size: 0.8em;
              color: $gray-c;
              background-color: transparentize($yellow-box-c, 0.25);
              }
    .color_word { color: $darkyellow-c; }
  }

  // EN GENERAL PARA TODOS...
  &.parallax-peel-container 
  {
    position: relative;
    width: 100%;

    height: 100vh;
    min-height: 750px;
  }

  .scrollable 
  {
    position: absolute;
    width: 100%;
    height: 100%;
    clip: rect(0, auto, auto, 0);

  }

  .fixed 
  {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;

    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);

  }

  .image
  {  
    position: absolute;
    height: 83%;
    width: 60%;
    top: 53%;
    left: 50%;
    @include transform(translate(-50%, -50%));
    box-shadow: 0px 4px 15px black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .step-number
  {
    position:absolute;
    $number-height: 80px;
    height: $number-height;
    width: $number-width;
    left: 20%;
    top: 20%;
    margin-left: -($number-width/2 + 12);

    text-align: center;
    font-size: 80px;
    font-weight: 600;
    line-height: $number-height;

    //background-color: black;
    color: white;
  }

  .grid
  { 
    position:relative;
    top: 15%;
      //background-color:green;
    margin: 0 auto;
    width: 80%;
  }
    .description
    {
      text-align: right;
      //background-color:skyblue;
    }

    .title
    {
      margin-top:55px;
      font-size: 4em;
      //background-color:aqua;
    }

    .subtitle
    {
      //background-color:yellow;
    }

    .extra
    {
        margin-top:40px;
        font-size: 1.3em;
        text-align: right;
        //background-color:orange;
    }

    .boxcolor 
    {
      text-align: center;

      span
      {
        font-weight: 600;
        &:after
        {
          content: '';
          display: block;
          position: relative;
          height: 1px;
          margin: 17px 0;
          left: 50%;
          width: 160px;
          margin-left: -80px;
          background-color: black;
          @include transition-duration(0.9s);
          @include transition-property(all);
          //@include transition-delay(0.2s);
        }
      }
    }
}



//=================================
//-*****    Para ti
//=================================

// Colors
$stateblue-c: #6758B4;
$stateblueboldw-c: #392B51;
$purple-c: #7958B4;
$purpleboldw-c: #392B51;
$red-c: #C1484C;
$redorange-c: #E2AE51;
$greennew-c: #40A17B;
$greenboldw-c: #6CF26E;



#DMAT
{
  position:absolute;
  z-index: 20;
  width: 100%;
  height: 100vh;
  
  //background-color:tomato;

  .skewed-background
  {
    position:absolute;
    top: 300px;
    width: 100%;
    height: 1000px;
    min-height: 600px;
    box-shadow: 0px 1px 20px transparentize(black, 0.5);

    @include transform(skewY(-30deg));
    background-color: $purple-c;
  }

  .title
  {
    margin: 0px;
    font-size: 2.75em;
    color: $purpleboldw-c;
  }

  .description
  {
    font-size: 1.6em;
  }

  .block
  {
    position:relative;
    //background-color:purple;
    display: inline-block;

    float: right;
    clear: both;
    top: 450px;
    margin-bottom: 140px;

    &:nth-child(2)
    {
      right: 10%;
      //background-color:blue;
      text-align: right;
      //.description { text-align: right; }
    }
    &:nth-child(3)
    {
      right: 50%;
      //background-color:blue;
      //text-align: left;
      .description { text-align: left; }
    }
    &:nth-child(4)
    {
      right: 30%;
      //background-color:blue;
      text-align: right;
      //.description { text-align: right; }
    }
    &:nth-child(5)
    {
      right: 60%;
      //background-color:blue;
      //text-align: left;
      .description { text-align: left; }
    }
  }
}

#posibilidades
{
  background-color: $stateblue-c;
  .text 
  {
    display: inline-block;
    position:relative;
    top:25%;
    margin-left: 30px;
    //background-color: cyan;
    text-align: right;
    font-size: 4em;
  }
  span { color: $stateblueboldw-c; }
}

#tienda
{
  background-color: $red-c;
  height: 200vh;
  min-height: 1800px;
  .text
  {
    display: inline-block;
    position:relative;
    top:25%;
    float:right;
    margin-right: 30px;
    text-align: left;
    //background-color:purple;
    font-size: 2em;
    span 
    {
      color: $redorange-c;
      //font-size: 3em; 
    }
  }
}

#contactanos
{
  background-color: $greennew-c;
  .text
  {
    display: inline-block;
    position:relative;
    top:25%;
    margin-left: 30px;
    text-align: left;
    //background-color: orange;
    font-size: 2em;
    span
    {
      color: $greenboldw-c;
      //font-size: 3em;
    }
  }
  
}

