<!DOCTYPE html>
<html>
<head>
  <title>QB</title>
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="main-nav">
  <a href=""><div class="logo"></div></a>
  <a href="">Cómo funciona</a>
  <a href="">Cómo as</a>
  <a href="">Tienda</a>
</nav>

<%= yield %>

</body>
</html>
